<div class="container-fluid">
  <div class="col-md-12">
    <div class="panel with-nav-tabs panel-default">
      <ul class="nav nav-tabs tabs-edges-clear">
          <li class="active"><a href="#htmlcontent" data-toggle="tab">HTML</a></li>
          <li><a href="#csscontent" data-toggle="tab">CSS</a></li>
          <li><a href="#javascripcontent" data-toggle="tab">Java Script</a></li>
          <li><a href="#jquerycontent" data-toggle="tab">Jquery</a></li>
          <li><a href="#angularcontent" data-toggle="tab">Angular JS</a></li>
      </ul>
      <div class="panel-body">
          <div class="tab-content">
              <div class="tab-pane fade in active" id="htmlcontent">
                <html-content></html-content>
              </div>
              <div class="tab-pane fade" id="csscontent">
                <css-content></css-content>
              </div>
              <div class="tab-pane fade" id="javascripcontent">
                <javascript-content></javascript-content>
              </div>
              <div class="tab-pane fade" id="jquerycontent">
                <jquery-content></jquery-content>
              </div>
              <div class="tab-pane fade" id="angularcontent">
                <angularjs-content></angularjs-content>
              </div>
          </div>
      </div>
    </div>
  </div>
</div>
